@import "./variables";

header {
  margin: 100px 0 0 0;
  text-align: center;
  background: $secondaryColor;
  padding: 20px 0;
  h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-family: $secondaryFont;
    font-size: 40px;
  }
  @media (max-width: $mediumBreakpoint) {
    margin: 50px 0 0 0;
  }
}
