@import "./variables";

.legend-container {
  margin-top: 40px;
  width: 424px;
  @media (max-width: $mediumBreakpoint) {
    width: 100%;
    max-width: 350px;
    margin: 20px 0 0 0;
  }
  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }
  div {
    p {
      span {
        font-weight: 600;
        text-transform: uppercase;
      }
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
  .logout {
    margin-top: 20px;
  }
}
