@import "./variables";

.receipt-container {
  text-transform: uppercase;
  font-family: $secondaryFont;
  font-weight: 600;
  font-size: 18px;
  width: 400px;
  padding: 40px 25px;
  margin-right: 50px;
  filter: brightness(105%);
  background-position-x: -10px;
  background-image: url("https://receiptify.herokuapp.com/wrinkled-paper-texture-7.jpg");
  .receipt-title-subtitle-container {
    text-transform: uppercase;
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $primaryFont;
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 12.5px;
      svg {
        margin-left: 10px;
      }
    }
    p {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  .order-number-date-container {
    margin-bottom: 10px;
  }
}

table {
  border-collapse: collapse;
  thead {
    border-top: 1px dashed $primaryColor;
    border-bottom: 1px dashed $primaryColor;
  }
  tr {
    td {
      padding: 2.5px 10px;
      vertical-align: top;
      &.begin {
        padding-left: 0;
      }
      &.name {
        width: 100%;
      }
      &.end {
        text-align: right;
        padding-right: 0px;
      }
    }
  }
  .item-count {
    border-top: 1px dashed;
    width: 100%;
    td {
      width: 50%;
    }
  }
  .total-count {
    border-bottom: 1px dashed;
  }
}

.card-info-container {
  margin-bottom: 25px;
}
.barcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .thank-you-text {
    margin-bottom: 12.5px;
  }
  .barcode {
    text-align: center;
    width: 200px;
    height: auto;
    margin-bottom: 5px;
  }
  .spotify-logo {
    margin-top: 12.5px;
    height: 20px;
  }
}
