@import "./variables";

.receipt-form-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  @media (max-width: $mediumBreakpoint) {
    align-items: center;
    flex-direction: column;
  }
}
